*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');


body {
    width: 100%;
    overflow-x: hidden;
    background-color: gainsboro;
}
.img-container {
    width: 50%;
    height: 30vh;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
}



.name, .text-center {
    font-family: 'Nunito';
}

.card {
    margin: auto;
    align-items: center;
}

.card {
    grid-area: 1/1;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: black;
    display: flex;
    height: 400px;
    width: 280px;
    margin-top: 100px;
    justify-content:center;
    align-items: center;
    padding: 30px;
    color: yellow;
    text-transform: uppercase;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

.card-wrapper:hover > div,
.card-wrapper:hover:before {
    transform: none;
}

.card-wrapper>div,
.card-wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25, .46, .45,1);
}